body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.brand-logo{
	margin-left: 10px;
}

.skills-icon{
	width: 45px;
	height: 45px;
}


.carousel{
	height: 400px;
}
.carousel .carousel-item{
	width: 450px;
	height: 100%;
}

@media only screen and (max-width: 768px) {
	.carousel{
		height: 300px;
	}
	.carousel .carousel-item{
		width: 300px;
		height: 100%;
	}
	.reg-title{
		font-size: 24px;
	}

	.panel-text, .panel-buttons, .tech-used{
		margin: 0;
		font-size: 12px;
	}

	.sub-title{
		font-size: 18px;
	}
	.info-button{
		font-size: 12px;
	}
	.info-face{
		height: 100%;
		margin-top: 0;
	}
}

.title-face, .info-face{
	padding: 10px;
  	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 100%;
  	margin-top: 10px;
}

.title-face {
	background-color: rgba(212, 212, 212, 0.7);
}

#first-item {
	background-image: url(../images/rainbow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

h6 {
	margin-left: 10px;
}

#banner, #aboutMe, #portfolio, #skills, #career {
	border: 2px solid black;
}

#banner {
	height: 600px;
}
