
/*#banner, #aboutMe, #portfolio, #skills, #career {
	border: 2px solid black;

}*/

/*

#40BF7E green

#828081 grey

#1E392A darkgreen

#9c27b0 purple
*/

.waves-effect.waves-grey .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #828081;
 }

h1, h2, h5{
	color: #1E392A;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.fadeInBlock {
    opacity:0;
}

.section-divider{
	background-color: #40BF7E;
	padding-top: 3px;
}

#main-divider{
	background-color: #828081;
}

/* nav bar */
.brand-logo{
	margin-left: 10px;

}

.nav-wrapper{
	color: black;
	background-color:#40BF7E;
}

#nav-mobile li:hover{
	background-color: #9c27b0;
}

/* banner */
#banner {
	height: 600px;
	position: relative;
} 

#banner img {
	background-image: url(../images/g-key.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	/*filter:hue-rotate(20deg) contrast(150%);*/
	filter:hue-rotate(260deg) brightness(150%);
	z-index: -1;
/*	opacity: 0.3;*/

}

#banner-content {
	position: absolute;
	top: 50%;
  	transform: translateY(-50%);
  	opacity: 0;
}

/* about me */

#aboutMe p{
	font-size: 18px;
}

#prof-pic{
	filter: grayscale(100%);
}

.mern-pic{
	filter: grayscale(100%);
	opacity: 0.3;
}

.mern-pic2{
	filter: grayscale(100%);
	opacity: 0.5;
}

#contact-about .fa{
	color: #40BF7E;
	margin: 0 2px 0 2px;
}

#contact-about .fa:hover{
	color: #9c27b0;
}

#contact-about .fa:active{
	filter: blur(3px);
}

/* portfolio */

.btn{
	background-color: #40BF7E;
}

.btn:hover {
	background-color: #9c27b0;
}

.btn-flat{
	color: #1E392A;
}

.btn-flat:hover {
	background-color: #9c27b0;
}


#portfolio {
	background-color: #F4F4F4;
}

#portfolio .divider{
	margin-top: 20px;
}

.carousel{
	height: 400px;
}
.carousel .carousel-item{
	width: 450px;
	height: 100%;
}

.title-face, .info-face{
	padding: 10px;
  	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 100%;
  	margin-top: 10px;
}

.title-face {
	background-color: rgba(212, 212, 212, 0.9);
}

.tech-used{
	color: white;
}


@media only screen and (max-width: 768px) {
	.carousel{
		height: 300px;
	}
	.carousel .carousel-item{
		width: 300px;
		height: 100%;
	}
	.reg-title{
		font-size: 24px;
	}

	.panel-text, .panel-buttons, .tech-used{
		margin: 0;
		font-size: 12px;
	}

	.sub-title{
		font-size: 18px;
	}
	.info-button{
		font-size: 12px;
	}
	.info-face{
		height: 100%;
		margin-top: 0;
	}
	#aboutMe p{
		font-size: 14px;
	}
}

.placeholder{
	color: transparent;
}

#first-item {
	background-image: url(../images/excelsior2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#second-item {
	background-image: url(../images/Bamazon.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#third-item {
	background-image: url(../images/seqBurger.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#fourth-item {
	background-image: url(../images/starwars.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#fifth-item {
	background-image: url(../images/archer.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/*#sixth-item {
	background-image: url(../images/yellow.gif);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}*/

h6 {
	margin-left: 10px;
}


/* skills secion */
.skills-icon{
	width: 45px;
	height: 45px;
	filter: grayscale(100%);
	opacity: 0.7;
	padding: 0 8px 6px 0;
}

.skill-icon-row{	
	color: #40BF7E;
}

.skill-icon-row:hover{
	color: #1E392A;
}

.skill-icon-row:hover:first-child img{
	filter: grayscale(0%);
	opacity: 1.0;
}

/* career */

#career{
	margin-bottom: 0px;
	background-color: #F4F4F4;
}

#career .divider{
	margin-top: 20px;
}

.position{
	font-style: italic;
	color: lightgrey;
}

/* footer */

#footer{
	margin-top: 0px;
	padding-top: 2px;
	background-color: #40BF7E;
}

#footer .row{
	margin-bottom: 0px;
}

#footer-contact .fa{
	margin-right: 5px;
}

#footer-contact li a{
	color: white;
}

#footer-contact li:hover a{
	color: #9C27B0;
}

#footer-contact li:hover i{
	color: #9C27B0;
}

#footer-contact li:active i{
	color: grey;
}

#footer-contact li:active a{
	color: grey;
}




