
/*#banner, #aboutMe, #portfolio, #skills, #career {
	border: 2px solid black;

}*/

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.fadeInBlock {
    opacity:0;
}

/* nav bar */
.brand-logo{
	margin-left: 10px;
}

/* banner */
#banner {
	height: 600px;
	
}

#banner-content {
	display: none;
}

/* about me */

#aboutMe p{
	font-size: 18px;
}

.mern-pic{
	filter: grayscale(100%);
	opacity: 0.3;
}

.mern-pic2{
	filter: grayscale(100%);
	opacity: 0.5;
}

#contact-about .fa{
	color: #4caf50;
	margin: 0 2px 0 2px;
}

#contact-about .fa:hover{
	filter: blur(2px);
}

#contact-about .fa:active{
	filter: blur(5px);
	color: #9C27B0;
}

/* portfolio */
.carousel{
	height: 400px;
}
.carousel .carousel-item{
	width: 450px;
	height: 100%;
}

.title-face, .info-face{
	padding: 10px;
  	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 100%;
  	margin-top: 10px;
}

.title-face {
	background-color: rgba(212, 212, 212, 0.7);
}

@media only screen and (max-width: 768px) {
	.carousel{
		height: 300px;
	}
	.carousel .carousel-item{
		width: 300px;
		height: 100%;
	}
	.reg-title{
		font-size: 24px;
	}

	.panel-text, .panel-buttons, .tech-used{
		margin: 0;
		font-size: 12px;
	}

	.sub-title{
		font-size: 18px;
	}
	.info-button{
		font-size: 12px;
	}
	.info-face{
		height: 100%;
		margin-top: 0;
	}
	#aboutMe p{
		font-size: 14px;
	}
}

#first-item {
	background-image: url(../images/rainbow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

#second-item {
	background-image: url(../images/red.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#third-item {
	background-image: url(../images/blue.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#fourth-item {
	background-image: url(../images/green.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#fifth-item {
	background-image: url(../images/purple.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#sixth-item {
	background-image: url(../images/yellow.gif);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

h6 {
	margin-left: 10px;
}


/* skills secion */
.skills-icon{
	width: 45px;
	height: 45px;
	filter: grayscale(100%);
	opacity: 0.7;
	padding: 0 8px 6px 0;
}

.skill-icon-row{	
	color: #4caf50;
}

.skill-icon-row:hover{
	color: grey;
}

.skill-icon-row:hover:first-child img{
	filter: grayscale(0%);
	opacity: 1.0;
}

/* footer */

#footer-contact .fa{
	margin-right: 5px;
}

#footer-contact li a{
	color: white;
}

#footer-contact li:hover i{
	color: #9C27B0;
}

#footer-contact li:active i{
	color: grey;
}

#footer-contact li:active a{
	color: grey;
}

